body {
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  margin: 0
}

.white{
  color:white;
}

.button a, .button label{
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
}
#login{
  max-width: 200px;
  padding: 1em;
  border: 1px black solid;
}

.tilNext strong{
  color: red;
}
label{
  display: block;
}


.signUpContainer  {
  width: 100%;
  height:100vh;
  overflow: scroll;
}

.signUpRow img{
  height: 150px;
  width:150px;
}

.signUpRow h1{
  margin: 50px auto;
  margin-left: 10px
}

.signUpTitle{
  text-align: justify;
  margin: 0px 5%;
  padding-top: 3em;
}

.signUpSubTitle{
  text-align: justify;
  margin: 0px 5%;
}


.center{
  text-align: center;
}
.fail{
  display: block;
  background: red;
  color: white;
}
.profile{
  /* width: 33%; */
}
.app{
  height: 100vh;
}

.header, .footer{
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: white;
  height: 5em;
  left: 0px;
  overflow:hidden;
}
.header{
  top: 0px;
  width: calc(100% - 2em);
  padding: 0 1em;
  align-items: center;
  justify-content: space-between;
}

.footer{
  background: #FFA500;
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

.useBar{
  display: flex;
  justify-content: flex-end;
  width: 66%;
}

.filler{
  height: 40vh;
}

/* .signUpContainer {
  width: 50%;
  height:100vh;
  overflow-y: scroll;
  margin: 0 auto;
} */

.loginForm{
  margin-top: 3em;
}

.loginContent{
  height: 60vh;
  margin: 3em 1em 3em 1em;
  border: 1px solid black;
  border-radius: 5%;
}

.loginContent form{
  margin-left: 5%;
}

.loginContent p{
  margin: 2px 0px;
}

.loginContent input{
  width: 95%;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.692);
  border-radius: 15px;
  margin: 2px 0px;
}

.signUpRow {
  height: 150px;
  position: relative;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 5%;
}

.signUpForm{
  height: 80vh;
  margin: 3em 1em 3em 1em;
  border: 1px solid black;
  border-radius: 5%;
}

.signUpFormInfo{
  height: 80vh;
  margin: 0px 1em 3em 1em;
  border: 1px solid black;
  border-radius: 5%;
}

.signUpMargin{
  padding-top: 3em;
}

.signUpButton{
  border: 2px solid black;
  padding: 10px;
  width: 95%;
  border-radius: 25px;
}

.signUpForm form{
  margin-left: 5%;
}

.signUpFormInfo form{
  margin-left: 5%;
}

.whiteBackground{
  background: white
}

.background{
  background-image: url('https://i.imgur.com/FWi52No.jpg');
  background-size: cover; 
  background-position: fixed;
  background-repeat: no-repeat;
}

.logoContainer{
  padding-top: 10px
}

.logo{
  display:block;
  margin: 0px auto 0px auto;
  padding: .5em;
  border-radius: 50px;
  border: 1px solid black;
  background-color: white;
}

.signUpForm p{
  margin: 2px 0px;
}
.signUpFormInfo p{
  margin: 2px 0px;
}

.signUpForm input{
  width: 95%;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.692);
  border-radius: 15px;
  margin: 2px 0px;
}

.signUpFormInfo input{
  width: 95%;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.692);
  border-radius: 15px;
  margin: 2px 0px;
}

/* .signUpRow img{
  height: 200px;
  width:225px
} */

.signUpRowClick{
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 3em;
}
.content{
  margin: 5em 5%;
}
.hide{
  display: none;
}

.interestTitle{
  border: 2px solid white;

}

.signUp{
  position: relative;
}

.signUpLink{
  text-align: center;
  margin: 0 auto;
  display: block;
}
.signUpLink::after{
  color: white;
}

.finish{
  font-size: 2em;
  position: absolute;
  top: 10px;
  right: 0em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 2px solid white;
  background: white;
}


.fixed{
  position: fixed;
  top: 0;
  width: 100%
}

.reg-event-item{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.reg-event-item p{
  font-size: .9em;
}

.reg-event-item p, .reg-event-item h4{
  margin: 5px;
}

.reg-event-item img{
  margin-right: 1em;
  border-radius: 5%;
}

.event-item h3, .event-item p{
  margin: 5px 0;
}

.event-detail{
  margin: 0 1em;
}

.event-map{
  height: calc(100vh - 10em);
  background: url("https://northstar-pres.com/wp-content/uploads/2015/10/google-map-placeholder.png");
  background-size: cover;
  margin-bottom: 1em;
}

.rsvp{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
.rsvp select{
  min-width: 30%;
}

.rsvp-img{
  display: flex;
  justify-content: space-between;
  width: 20%;
}


.specifics{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specific-details{
  margin: 0 3em;
}
.specific-details div{
  /* margin: 3em 0; */
  width: 65%;
}
.weirdIcons{
  display: flex;
  align-items: center;
  min-width: 70vw;
  overflow: scroll;
}
.attendBar{
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  width: 100%;
}

