body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button a, .button label{
  text-decoration: none;
  cursor: pointer;
}
#login{
  max-width: 200px;
  padding: 1em;
  border: 1px black solid;
}

.tilNext strong{
  color: red;
}
label{
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center{
  text-align: center;
}
.fail{
  display: block;
  background: red;
  color: white;
}
.profile{
  width: 33%;
}
.header, .footer{
  display: flex;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: white;
  height: 5em;
  left: 0px;
  overflow:hidden;
}
.header{
  top: 0px;
  align-items: center;
  justify-content: space-evenly;
}

.footer{
  bottom: 0px;
  justify-content: space-around;
  align-items: center;
}

.useBar{
  display: flex;
  justify-content: space-evenly;
  width: 66%;
}

.filler{
  height: 40vh;
}

.signUpContainer {
  width: 50%;
  height:100vh;
  overflow-y: scroll;
  margin: 0 auto;
}

.signUpRow {
  height: 200px;
  position: relative;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.signUpRow img{
  height: 200px;
  width:225px
}

.signUpRowClick{
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 5em;
}
.content{
  margin-top: 5em;
  margin-bottom: 5em;
}
.hide{
  display: none;
}

.reg-event-item{
  display: flex;
  align-items: center;
}

.reg-event-item img{
  margin-right: 1em;
  border-radius: 5%;
}